* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  /* Default */
  --color-text-default: #37352f;
  --color-bg-default: #ffffff;

  /* Gray */
  --color-text-gray: #9b9a97;
  --color-bg-gray: #ebeced;

  /* Brown */
  --color-text-brown: #64473a;
  --color-bg-brown: #e9e5e3;

  /* Orange */
  --color-text-orange: #d9730d;
  --color-bg-orange: #faebdd;

  /* Yellow */
  --color-text-yellow: #dfab01;
  --color-bg-yellow: #fbf3db;

  /* Green */
  --color-text-green: #0f7b6c;
  --color-bg-green: #ddedea;

  /* Blue */
  --color-text-blue: #0b6e99;
  --color-bg-blue: #ddebf1;

  /* Purple */
  --color-text-purple: #6940a5;
  --color-bg-purple: #eae4f2;

  /* Pink */
  --color-text-pink: #ad1a72;
  --color-bg-pink: #f4dfeb;

  /* Red */
  --color-text-red: #e03e3e;
  --color-bg-red: #fbe4e4;
  /* size */
  --width: 600px;
  --height: 500px;
}
body {
  padding: 8px 16px;
  width: 600px;
  height: 500px;
  background-color: white;
  font-family: sans-serif;
}
.hidden {
  display: none;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.back-btn {
  border: none;
  outline: none;
  background-image: url("../icons/left-arrow.png");
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  width: 28px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
}

.notes-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 0;
  padding: 2rem 0;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.notes-grid::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.card {
  background-color: var(--color-bg-yellow);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 170px;
  aspect-ratio: 1/1;
}

.card-content {
  cursor: pointer;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
  }
}

.card[data-color="red"] {
  background-color: var(--color-bg-red);
}
.card[data-color="blue"] {
  background-color: var(--color-bg-blue);
}
.card[data-color="orange"] {
  background-color: var(--color-bg-orange);
}
.card[data-color="pink"] {
  background-color: var(--color-bg-pink);
}
.card[data-color="brown"] {
  background-color: var(--color-bg-brown);
}
.card[data-color="green"] {
  background-color: var(--color-bg-green);
}
.card[data-color="gray"] {
  background-color: var(--color-bg-gray);
}
.card[data-color="yellow"] {
  background-color: var(--color-bg-yellow);
}
.card[data-color="purple"] {
  background-color: var(--color-bg-purple);
}

.add-btn {
  width: 48px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 1px solid transparent;
  background-color: white;
  background-image: url("../icons/add.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  cursor: pointer;
}
#create-card {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.create-note-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-note-nav button {
  height: 55px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  border: none;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#menu-btn {
  cursor: pointer;
  background-image: url("../icons/menu.png");
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  position: relative;
}

.create-note {
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.create-note input {
  width: 100%;
  outline: none;
  border: 1px solid var(--color-bg-green);
  background-color: var(--color-bg-green);
  font-weight: 700px;
  font-size: 18px;
  padding: 16px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.create-note textarea {
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-bg-yellow);
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  resize: none;
}
